<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta
      name="description"
      content="A comprehensive database of oak species from around the world"
    />
    <.live_title default="Oak Compendium">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" href={~p"/favicon.ico"} sizes="any" />
    <link rel="apple-touch-icon" href={~p"/images/oakcompendium-180.png"} />
    <link rel="manifest" href={~p"/site.webmanifest"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body class="min-h-screen flex flex-col" style="background-color: var(--color-background);">
    {@inner_content}
  </body>
</html>
